<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>profileImageUrl</key>
		<string>http://a.hiphotos.baidu.com/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=64dc8a4d1bd8bc3ed2050e98e3e2cd7b/8ad4b31c8701a18b8f8b2d389c2f07082838fe60.jpg</string>
		<key>images</key>
		<array>
			<string>angelababy</string>
			<string>angelababy</string>
		</array>
		<key>userName</key>
		<string>史提夫</string>
		<key>text</key>
		<string>今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊今天天气非常好啊</string>
		<key>distan</key>
		<string>6000KM</string>
		<key>createdAt</key>
		<string>3年前</string>
		<key>location</key>
		<string>阿富汗</string>
	</dict>
	<dict>
		<key>profileImageUrl</key>
		<string>http://a.hiphotos.baidu.com/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=64dc8a4d1bd8bc3ed2050e98e3e2cd7b/8ad4b31c8701a18b8f8b2d389c2f07082838fe60.jpg</string>
		<key>images</key>
		<array>
			<string>zhangxueyou</string>
			<string>angelababy</string>
			<string>http://www.rmzt.com/uploads/allimg/151014/1-151014164149411.jpg</string>
			<string>http://www.rmzt.com/uploads/allimg/151014/1-151014164149411.jpg</string>
			<string>http://www.rmzt.com/uploads/allimg/151014/1-151014164149411.jpg</string>
			<string>zhangxueyou</string>
		</array>
		<key>userName</key>
		<string>史提夫2</string>
		<key>text</key>
		<string>今天天气非常好啊</string>
		<key>distan</key>
		<string>6000KM</string>
		<key>createdAt</key>
		<string>6小时前</string>
		<key>location</key>
		<string>阿富汗</string>
	</dict>
</array>
</plist>
